@import "tailwindcss";

/* Design tokens (light) */
:root {
  --background: 0 0% 100%;
  --foreground: 222.2 84% 4.9%;

  --card: 0 0% 100%;
  --card-foreground: 222.2 84% 4.9%;

  --primary: 221 83% 53%;
  --primary-foreground: 210 40% 98%;

  --secondary: 210 40% 96%;
  --secondary-foreground: 222.2 47.4% 11.2%;

  --muted: 210 40% 96%;
  --muted-foreground: 215.4 16.3% 46.9%;

  --dangerous: 0 84% 53%;
  --dangerous-foreground: 210 40% 98%;

  --border: 214.3 31.8% 91.4%;
  --radius: 0.75rem;
}

/* Dark mode overrides */
.dark {
  --background: 222.2 84% 4.9%;
  --foreground: 210 40% 98%;

  --card: 222.2 84% 4.9%;
  --card-foreground: 210 40% 98%;

  --primary: 217 91% 60%;
  --primary-foreground: 222.2 47.4% 11.2%;

  --secondary: 217 32% 17%;
  --secondary-foreground: 210 40% 98%;

  --muted: 217 32% 17%;
  --muted-foreground: 215 20% 65%;
  --dangerous: 0 84% 53%;
  --dangerous-foreground: 210 40% 98%;

  --border: 217 32% 17%;
}
